.form-header {
  background-color: #299be4; /* Navy blue color */
  color: white;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.register-btn{
  background-color: #299be4; /* Navy blue color */
  padding: 10px 20px;
  margin-bottom: 20px;
  color: aliceblue;
  border-radius: 5px;
  border: none;
}